
@model eLibraryPortal.Data.Models.Book
@{
    ViewData["Title"] = "Create Book";
    //Layout = "~/Views/Shared/_Layout.cshtml";
Layout = "~/Views/Admin/_Layout.cshtml";
}

    <div class="container">
        <div class="container-fluid">
            <br /><br /><br /><br />
            <div class="row">
                <div class="col-xl-10 col-md-10 ">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2 class="card-title"> Create Book</h2>
                        </div>
                        <div class="card-body">
                            <form asp-action="PostCreateBook" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="BookName">Book Name:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="BookName" placeholder="Enter Book Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="BookEdition">Book Edition:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="BookEdition" placeholder="Enter Book Edition">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="ISBN">ISBN:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="ISBN" placeholder="Enter ISBN">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="BookAuthor">Book Author:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="BookAuthor" placeholder="Enter Book Author">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Category">Select Category:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="Categories">
                                            @*<option disabled="disabled" value="">Select Category</option>*@
                                            <option value="Science">Science</option>
                                            <option value="Fiction">Fiction</option>
                                            <option value="Classy">Classy</option>
                                            <option value="Investigative">Investigative</option>
                                            <option value="Romance">Romance</option>
                                            <option value="Commedy">Commedy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="cname">Select Published Date:</label>
                                    <div class="col-sm-5">
                                        <input type="date" class="form-control" name="PublishedDate" max="">
                                    </div>
                                </div>

                                <br />
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <input type="file" class="form-control" name="BookImage">
                                        <p> <small>Upload the picture of this book.</small></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <input type="file" class="form-control" name="FileAthachment">
                                        <p> <small>Upload the book.</small></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-5">
                                        <button type="submit" class="form-control btn btn-primary">Create Book</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br /><br /><br /><br />
    </div>



