@model eLibraryPortal.Data.Models.Book
@{
    ViewData["Title"] = "Edit Book";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <br /><br /><br /><br />
        <div class="row">
            <div class="col-xl-10 col-md-10 ">
                <div class="card">
                    <div class="card-header text-center text-white" style="background-color: #308bedc2;">
                        <h2 class="card-title"> Edit Book</h2>
                    </div>
                    <div class="card-body">
                        <form asp-action="PostEditBook" asp-controller="Admin" method="post" enctype="multipart/form-data">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <br />

                            <input type="hidden" asp-for="Id" name="Id" />

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <img  class="me-3" src="~/assets/img/gallery/logo.png" alt="Book Image"  />
                                    </div>
                                </div>

                                <div class="offset-4 col-md-4">
                                    <div class="form-group">
                                        <img src="@Model.GetBookImage" alt="Book Image" width="100" height="150" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="BookName">Book Name:</label>
                                    <input type="text" class="form-control" asp-for="BookName" name="BookName" placeholder="Enter Book Name" required>
                                </div>
                                <div class="col-sm-4">
                                    <label for="BookEdition">Book Edition:</label>
                                    <input type="text" class="form-control" asp-for="BookEdition" name="BookEdition" placeholder="Enter Book Edition" required>
                                </div>
                                <div class="col-sm-4">
                                    <label for="ISBN">ISBN:</label>
                                    <input type="text" class="form-control" asp-for="ISBN" name="ISBN" placeholder="Enter ISBN" required>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label for="BookAuthor">Book Author:</label>
                                    <input type="text" class="form-control" asp-for="BookAuthor" name="BookAuthor" placeholder="Enter Book Author" required>
                                </div>
                                <div class="offset-2 col-sm-5">
                                    <label for="PublishedDate">Published Date:</label>
                                    <input type="date" class="form-control" asp-for="PublishedDate" name="PublishedDate" max="" required>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label for="Categories">Select Category:</label>
                                    <select class="form-control" asp-for="Categories" name="Categories" required>
                                        <option value="Science">Science</option>
                                        <option value="Fiction">Fiction</option>
                                        <option value="Classy">Classy</option>
                                        <option value="Investigative">Investigative</option>
                                        <option value="Romance">Romance</option>
                                        <option value="Commedy">Commedy</option>
                                    </select>
                                </div>
                                <div class="offset-2 col-sm-5">
                                    <label for="IsDeleted">User Status:</label>
                                    <select class="form-control" asp-for="IsDeleted" name="IsDeleted" required>
                                        <option value="false">Enable</option>
                                        <option value="true">Disable</option>
                                    </select>
                                </div>
                            </div>

                            <br />
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label for="BookImage">Attach Book Image:</label>
                                    <input type="file" class="form-control" name="BookImage">
                                    <p> <small>Upload Profile Image.</small></p>
                                </div>
                                <div class="offset-2 col-sm-5">
                                    <label for="FileAthachment">Athach PDF file:</label>
                                    <input type="file" class="form-control" name="FileAthachment">
                                    <p> <small>please Upload PDF only.</small></p>
                                </div>
                            </div>


                            <br />
                            <div class="row">
                                <div class="col text-center">
                                    <div class="offset-4 col-md-4">
                                        <button type="submit" class="form-control btn btn-primary">Update Book</button>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br /><br /><br /><br />
</div>


